Package: jsoncpp
Version: 1.9.6
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: a50e4e016fbad824c93d71b026804e1222035aec1c4b8b54300a58f8ba1de34f
Description: JsonCpp is a C++ library that allows manipulating JSON values, including serialization and deserialization to and from strings. It can also preserve existing comment in unserialization/serialization steps, making it a convenient format to store user input files.
